html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    height: 200px;
    margin: 0 auto;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#top-img img {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.ssheader{
    width: 100%;
    height: 100px;
    top: 0;
    right: 0;
}

#first {
    animation: fade 10s linear 1s infinite alternate;
}

#second {
    animation: fade 10s linear 10s infinite alternate;
}

#third {
    animation: fade 10s linear 20s infinite alternate;
}

#posts {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#posts span {
    font-size: large;
}

#post {
    border: 2px dashed cadetblue;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin-left: 100px ;
}

#post img {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

#title {
    font-size: larger;
    vertical-align: top;
}

#text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    height: 100px;
}

#foot {
    text-align: center;
    font-size: 60px;
    font-family: Helvetica, serif;
    color: #000;

}
